<!DOCTYPE html>
<html>
<head>
  <title>Memtuner</title>
  <%= stylesheet_link_tag    "memtuner/application", media: "all" %>
  <%= javascript_include_tag "memtuner/application" %>
  <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
